#form {
    margin-top: 20px;
    border: 1px solid black;
    background: lightpink;
    border-radius: 10px;
}
h1 {
    text-align: center;
}
button {
    margin: 10px;
}
#regis-btn {
    text-decoration: none;
    color: white;
}